@font-face{ font-family:ng; src:url(NanumGothic.eot); src:local(※), url(NanumGothic.woff) format(‘woff’) }


body{

    font-family:'Nanum Gothic'

}
.paragraph_1 {
     background-color: white;
 }
.paragraph_2 {
     background-color: white;
 }
.paragraph_3 {
     background-color: white;
 }